{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myhome.css' %}">
<title>Our Customers</title>
{% endblock %}

{% block content %}

<!-- Start about us -->
<div class="container body_color">
    <section class="About_us text-center">
    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture16.gif">
          </div>
        </div>


        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture11.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture17.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture10.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture21.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture15.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture13.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture20.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture12.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture18.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture19.gif">
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="customer">
            <img src="../../static/img/features/Picture14.gif">
          </div>
        </div>

      </div>
    </section>
  </div>
{% endblock %}
